.delete_comment_button {
    color: #DD1E1E;
    background-color: #F2F6F9;
    position: absolute;
    top: 0px;
    right: 0px;
}
.edit_comment_button {
    color: #000000;
    background-color: transparent;
    position: absolute;
    top: 0px;
    right: 20px;
}
.thread_comments {
    border: 1px solid #000000;
    padding: 5px;
    padding-left: 55px;
    padding-right: 55px;
    margin: 30px;
    width: 40%;
    position: relative;
}
.thread_comments a {
    color: #000000;
}
.thread_description {
    margin: 45px;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}
.comment_style {
    color: #424288;
    display: inline-block;
}
#add_comment {
    text-align: center;
}
.comment_description {
    height: 190px;
    width: 500px;
}
.white_background {
    background-color: #FFFFFF;
}
.white_background button {
    color: #DD1E1E;
    position: absolute;
    top: 0px;
    right: 0px;
}
.save_comment_button {
    color: #000000 !important;
    background-color: transparent;  
    position: absolute;
    top: 0px;
    right: 20px !important;
}
textarea {
    background-color: #F2F6F9;
    height: auto;
    outline:none;
    resize: none;
    border: none;
}
